---
console.log("TESTING HERE....");
const object = await Astro.locals.runtime.env.GALLERY_IMAGES.get("gallery/full-res/gallery.json");
// Get the gallery.json metadata from the R2 bucket


if (!object || !object.body) {
  throw new Error("Could not load gallery metadata from R2");
}

const text = await object.text(); // read as string
const metadata = JSON.parse(text); // parse into array

// Use those metadata to load all of the images in `gallery/`
const images = metadata.map(({ src, width, height, alt }) => ({
  src: `/r2-images/${src}`,
  width,
  height,
  alt,
}));
---

<div class="gallery">
  {images.map((img, index) => (
    <a href={img.src} data-pswp-width={img.width} data-pswp-height={img.height} target="_blank" rel="noreferrer">

        <img src={img.src} alt={img.alt} width={img.width/5} height={img.height/5} loading="lazy" 
        decoding="async" />
    </a>
  ))}
</div>

<!--<script type="module" src="../../src/scripts/init-lightbox.js" client:load></script>
<script type="module" src="/src/scripts/init-lightbox.js" client:load></script>-->

<script type="module" client:Load>
    import PhotoSwipeLightbox from 'photoswipe/lightbox'
    import pswpModule from 'photoswipe'
    import 'photoswipe/style.css'

  const lightbox = new PhotoSwipeLightbox({
    gallery: '.gallery',
    children: 'a',
    pswpModule: () => import('photoswipe'),
  });

  lightbox.init();
</script>

